PORT=5000
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=

LOG_LEVEL=debug
NODE_ENV=production

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

API_BASE_URL=

PAYHERE_BASE_URL=
PAYHERE_MERCHANT_ID=
PAYHERE_SECRET=
PAYHERE_APP_ID=
PAYHERE_APP_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=